.left{
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 3px;
}
td{
    border:none
}

.header{
    border-top: 6px solid rgb(133,216,226);
}

.noMargin{
    margin: 0;
}

.brown{
    color: rgb(169,84,49);
}

.blue{
    background-color: rgb(231,239,245);
}

.card-header{
    background-color: rgb(231,239,245);
}

.noPadding{
    padding: 0;
}

.textCenter{
    text-align: center;
    padding-top: 3px;
}

.left{
    margin-right: 20px;
}

.paddingTop{
    padding-top: 5px;
}

.grey{
    background-color: rgba(245, 245, 245);
    border:1px solid lightgray
}

::ng-deep ng2-smart-table-title a.ng2-smart-sort-link.sort.ng-star-inserted{
    font-weight: 400;
}

::ng-deep ng2-smart-table a { 
    color: black !important; 
}

::ng-deep ng2-smart-table input{
    width: 15px !important;
}

::ng-deep ng2-smart-table a.ng2-smart-page-link.page-link{
    height: 100%;
    text-decoration: none;
}

::ng-deep ng2-smart-table a.ng2-smart-page-link.page-link.ng-star-inserted{
    height: 100% !important;
}

::ng-deep ng2-smart-table a.ng2-smart-page-link.page-link.page-link-next{
    padding-top: 12px;
}

::ng-deep ng2-smart-table a.ng2-smart-page-link.page-link.page-link-prev{
    padding-top: 12px;
}

::ng-deep ng2-smart-table nav{
    margin: 20px;
}

.removeBottomBorderRadius{
    border-radius: 15px 15px 0 0;
    border-bottom: none;
}

.removeRightPadding{
    padding-right: 0;
}

.removeTopBorder{
    border-top: none;
}

.row {
  overflow-x: auto;
  white-space: nowrap;
}

.inherit{
    display: inherit;
}

.marginLeft{
    margin-left: 5px;
}

table{
    text-align:left;
}

select{
    display:block;
    width:100%;
    border:none;
    height:35px;
    border:1px solid black;

}

select:focus{
    border:1px solid black;
    outline:none;
}

@media(max-width:670px){
    #searchbar{
        display:none;
    }
}
@media(max-width:650px){
    #ftsz{
        font-size:14px;
    }
}
@media(max-width:579px){
    #ftsz{
        font-size:12px;
    }
}

@media(max-width:520px){
    #ftsz{
        font-size:9px;
    }
}

@media(max-width:470px){
    #ftsz{
        font-size:6px;
    }
}
