<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                
            <h1 style="margin-bottom: 0px;"><strong>Welcome {{ username }}!</strong></h1>
            <span class="greyText smallText">Here's what happening at UPJAO today</span>
       
            </li>
        
            <li class="nav-item">
                <a>
                    <p>
                        <span matBadge="4"  matBadgeSize="small" matBadgeOverlap="false"><i class="fas fa-bell fa-lg greyIcon"></i></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a>
                    <p>
                        <span matBadge="1" matBadgeSize="small" matBadgeOverlap="false"><i class='far fa-comment-alt fa-lg greyIcon'></i></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a>
                    <p><i class="fa fa-info-circle fa-lg greyIcon" aria-hidden="true"></i></p>
                </a>
            </li>
            <li class="nav-item">
                <div class="row">
                    <div class="col">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="col morePadding">
                        <h6>{{ fullName }}</h6>
                        <span class="greyText">{{ email }}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>