<div class="row">
    <div *ngFor="let data of machineCardData;index as i" [ngClass]="{ 'col-3': innerWidth > 995, 'col-6': innerWidth> 653 && innerWidth < 995,  'col-12': innerWidth < 653 }" class="reducePadding">
        <div class="card listing-cards bg-light mb-3 borderLeftColor">
            <div class="card-body">
                <div class="row cardRow">
                    <div id="title">
                        <h2><img src="../../../assets/images/machine-icon/Machine {{i+1}}.png" alt="Machine"> &nbsp; Machine {{ i+1 }}</h2>
                    </div>
                    <div>
                        <h4>No. of Machines: {{ data.no_of_machines }}</h4>
                        <h4>Scan by Machine machines: {{ data.total_scans }}</h4>
                        <h4>Good Scans : {{ data.good_scans }}</h4>
                        <h4>Average Scans : {{ data.average_scans }}</h4>
                        <h4>Bad Scans : {{ data.bad_scans }}</h4>
                    </div>
                    <div class="colorBar"> 
                        
                          <app-doughnut-chart [data]="[data.good_percentage,data.average_percentage,data.bad_percentage]" [labels]="['Good','Average','Bad']" postion="inside" smallerUI='true'></app-doughnut-chart>

                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row addMargin">
    <div *ngFor="let machine of machineOption;index as i" (click)="changeMachine(i)">
        <a>
            <div>
                <h2 class="floatLeft">{{ machine }}</h2>
            </div>
        </a>
        <div *ngIf="selectedMachineIndex == i" class="activeMachine"></div>
    </div>
</div>
<div class="row">
    <div class="col-12" [ngClass]="{'reducePadding': innerWidth < 1220}">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div *ngIf="showindiamap" [ngClass]="{'leftPadding': innerWidth > 1128}" class="card-body extraPadding mapCardBody">
                <app-map [yellowStates]="mymachinestates" [previous]='previousstates' [size]="sizeOfMap" [top]="topPercent" [mark]="mymachinedistricts"></app-map> 
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf='showyeargraph'>
    <div class="col-12" [ngClass]="{'reducePadding': innerWidth < 1220}">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h2 class="cardTitle">Scans by month</h2>
                 <div class="row paddingLeft">
                    <h3  [ngClass]="{ 'middle': innerWidth >= 741}" class="greyText">Showing For :</h3>
                    <div [ngClass]="{ 'col-3': innerWidth >= 741, 'col-12': innerWidth < 741}">
                        <select (change)='selectyear()' class="form-control" name="year" id="year">
                    <option *ngFor='let item of selectionarray' value="{{item}}">{{item}}</option>
                </select>
                    </div>
                </div> 
                
                <app-bar-chart [data]="scansByMonthData" [labels]="scansByMonthLabels" barColor="rgb(112,212,224)" size="400px">
                </app-bar-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div [ngClass]="{ 'col-6 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926,'reducePadding': innerWidth < 1220 }">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body extraPadding" *ngIf='showcropgraph'>
                <h2 class="cardTitle">Crop-wise scan distribution</h2>
                <div class="graph">
                    <app-machine-bar-chart [data]="cropScanData" [labels]="cropScanLabels"></app-machine-bar-chart>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{ 'col-6': innerWidth >= 926, 'col-12': innerWidth < 926 , 'reducePadding': innerWidth < 1220}">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h2 class="cardTitle">User-wise distribution</h2>
                <div class="graph">
                    {{usernumbers}}
                    {{noofscans}}
                    <app-double-bar-chart [machineData]="userBarData" [scanData]="scanBarData" [labels]="labels2" [legend]="legend2">
                    </app-double-bar-chart> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div [ngClass]="{ 'col-8 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926 ,'reducePadding': innerWidth < 1220}">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h2 class="cardTitle">Crop Data</h2>
                <div class="tableHeight">
                    <table *ngIf='showcropgraph'>
                        <tr>
                            <th>
                                <h3 class="tableTitle type">Crop type</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let crop of cropArray;index as i" (click)="changeSelectedCrop(i)"
                            [ngClass]="{ 'tableRowShadow': i==selectedCropIndex}" class="">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575 || ( 960 < innerWidth && innerWidth <= 1025)" class="row">
                                   
                                    <div class="col-12 center">
                                        <h6><img src="../../../assets/images/crops-icon/{{(i+1)%5}}.png" alt="Crop">&nbsp;{{ crop.name }}</h6>
                                    </div>
                                </div>
                                <h6 *ngIf="innerWidth >= 575 && !( 960 < innerWidth && innerWidth <=1025)"><img src="../../../assets/images/crops-icon/{{(i+1)%5}}.png" alt="Crop">&nbsp; {{ crop.name
                                    }}</h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.total_scans }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.good_percentage }}%</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.average_percentage }}%</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.bad_percentage }}%</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{ 'col-4 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926,'reducePadding': innerWidth < 1220 }">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body" *ngIf='showcropgraph'>
                 <h6><img src="../../../assets/images/crops-icon/{{(selectedCropIndex+1)%5}}.png" alt="Crop"> &nbsp;{{ cropArray[selectedCropIndex].name }}</h6>
                <app-doughnut-chart [data]="doughcropdata" [labels]="doughnutcropLabels" postion="inside" smallerUI='true'></app-doughnut-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div [ngClass]="{ 'col-8 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926,'reducePadding': innerWidth < 1220 }">
        <div class="card listing-cards bg-light mb-3 graphCard w-100">
            <div class="card-body">
                <h2 class="cardTitle">User's Data</h2>
                <div class="tableHeight">
                    <table *ngIf='showusers'>
                        <tr>
                            <th>
                                <h3 class="tableTitle type">User type</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let item of myusers;index as i" (click)="changeSelectedUser(i)"
                            [ngClass]="{ 'listing-cards': i==selectUserIndex}" class="">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575 || ( 960 < innerWidth && innerWidth <= 1025)" class="row">
                                    
                                    <div class="col-12 center">
                                        <h6 style="padding-left: 5px;">{{ item.user}}</h6>
                                    </div>
                                </div>
                                <h6 style="padding-left: 5px;" *ngIf="innerWidth >= 575 && !( 960 < innerWidth && innerWidth <=1025)">
                                    
                                    {{ item.user}}
                                </h6>
                            </td>
                            <td class="center">
                                <h6><strong>{{item.total }}</strong></h6>
                            </td>
                            <td class="center">
                                <h6><strong>{{ item.good_percentage }}%</strong></h6>
                            </td>
                            <td class="center">
                                <h6><strong>{{ item.average_percentage }}%</strong></h6>
                            </td>
                            <td class="center">
                                <h6><strong>{{ item.bad_percentage }}%</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='showgraph' [ngClass]="{ 'col-4 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926 ,'reducePadding': innerWidth < 1220 }">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h6>{{ myusers[selectUserIndex].user }}</h6>
                <app-doughnut-chart [data]="doughnutChartData" [labels]="doughnutChartLabels" postion="inside" smallerUI='true'>
                </app-doughnut-chart>
            </div>
        </div>
    </div>
</div>