<div class="row cardRow">
	<div [ngClass]="{ 'col-5':  this.innerWidth > 961, 'col-12': 961 > this.innerWidth ,'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302 }">
		<div class="card listing-cards bg-light mb-3 w-100">
			<div class="card-body removePadding">
				<h2 class="cardTitle addPadding">Users Onboard</h2>
				<app-home-bar-chart *ngIf='userdata' [data]="userdata" [labels]="labels" [barColor]="color"></app-home-bar-chart>
			</div> 
		</div>
		<div [ngClass]="{ 'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302}" class="card listing-cards bg-light mb-3">
			<div class="card-body">
				<h2 class="cardTitle">Regional Data Scanned</h2>
				<div class="row innerCardRow borderLeftColor listing-cards">
					<div [ngClass]="{ 'col-9': innerWidth >= 455, 'col-12 center': innerWidth < 455 ,'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302}">
						<h6>Total number of scans</h6>
					</div>
					<div [ngClass]="{ 'col-3': innerWidth >= 455, 'col-12': innerWidth < 455 ,'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302 }">
						<h6 class="regionalDataNumber"  [ngClass]="{ 'center': innerWidth < 455 }">{{totalscans}}</h6>
					</div>
				</div> 
				<div>
					<div class="row innerCardRow borderLeftColor listing-cards">
						<div [ngClass]="{ 'col-9':  innerWidth >= 455, 'col-12 center': innerWidth < 455 , 'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302}">
							<h6>No. Of District from where scanned</h6>
						</div> 
						<div class="col-3" [ngClass]="{ 'col-3': innerWidth >= 455, 'col-12': innerWidth < 455 ,'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302 }">
							<h6 class="regionalDataNumber" [ngClass]="{ 'center': innerWidth < 455 }">{{districtscan}}</h6>
						</div>
					</div>
					<div class="row innerCardRow borderLeftColor listing-cards">
						<div [ngClass]="{ 'col-9': innerWidth >= 455, 'col-12 center': innerWidth < 455 ,'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302}">
							<h6>No. Of states from where scanned</h6>
						</div>
						<div class="col-3" [ngClass]="{ 'col-3': innerWidth >= 455, 'col-12': innerWidth < 455 }">
							<h6 class="regionalDataNumber"  [ngClass]="{ 'center': innerWidth < 455 }">{{statescan}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div  [ngClass]="{ 'col-7 flex': this.innerWidth > 961, 'col-12': 961 > this.innerWidth ,'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302 }">
		<div  class="card listing-cards bg-light mb-3 w-100">
			<div *ngIf='state' [ngStyle]="{height: sizeOfMap+50+'px'}"  class="card-body mapBody">
				<app-map size="{{sizeOfMap}}px" [left]="leftPercent" [top]="topPercent" [yellowStates]="uniquestates" [mark] = 'uniquedistricts'></app-map>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div [ngClass]="{ 'col-5 flex':  this.innerWidth > 961, 'col-12': 961 > this.innerWidth ,'reducePadding': 961 < this.innerWidth && this.innerWidth < 1302 }">
		<div class="card listing-cards bg-light mb-3 w-100">
			<div class="card-body">
				<h2 class="cardTitle">Types of Machines used for Scanning</h2>
				<app-dashboard-doughnut-chart *ngIf='doughnutChartData' [data]="doughnutChartData" [labels]="doughnutChartLabels">
				</app-dashboard-doughnut-chart>
				<div class="row">
					<div class="col-6 pieChartLabel" [ngClass]="{ 'reducePaddingLeft': 961 < innerWidth && innerWidth < 1393 }">
						<h6 class="pieChartLabelTitle">{{ doughnutChartLabels[0] }}</h6>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of machines {{machine1}} <br></span>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of Scans {{machine1scan}} <br></span>
						<div class="pieChartlabelColor">
							<div class='box' style="background-color: {{ doughnutColors[0] }}"></div><span>Scan %</span>
						</div>
					</div>
					<div class="col-6 pieChartLabel" [ngClass]="{ 'reducePaddingLeft': 961 < innerWidth && innerWidth < 1393 }">
						<h6>{{ doughnutChartLabels[1] }}</h6>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of machines {{machine2}} <br></span>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of Scans {{machine2scan}} <br></span>
						<div class="pieChartlabelColor">
							<div class='box' style="background-color: {{ doughnutColors[1] }}"></div><span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">Scan %</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6 pieChartLabel" [ngClass]="{ 'reducePaddingLeft': 961 < innerWidth && innerWidth < 1393 }">
						<h6 class="pieChartLabelTitle">{{ doughnutChartLabels[2] }}</h6>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of machines {{machine3}} <br></span>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of Scans {{machine3scan}} <br></span>
						<div class="pieChartlabelColor">
							<div class='box' style="background-color: {{ doughnutColors[2] }}" ></div><span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">Scan %</span>
						</div>
					</div>
					<div class="col-6 pieChartLabel" [ngClass]="{ 'reducePaddingLeft': 961 < innerWidth && innerWidth < 1393 }">
						<h6>{{ doughnutChartLabels[3] }}</h6>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of machines {{machine4}} <br></span>
						<span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">No of Scans {{machine4scan}} <br></span>
						<div class="pieChartlabelColor">
							<div class='box' style="background-color: {{ doughnutColors[3] }}"></div><span [ngClass]="{ 'reduceFont': 961 < innerWidth && innerWidth < 1393 }">Scan %</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div [ngClass]="{ 'col-7 flex':  this.innerWidth > 961, 'col-12': 961 > this.innerWidth ,'reducePadding d-flex': 961 < this.innerWidth && this.innerWidth < 1302}">
		<div class="card listing-cards bg-light mb-3 fullWidth">
			<div class="card-body">
				<h2 class="cardTitle">Crop Data</h2>
				<div class="machineTable">
					<table *ngIf='cropData'>
						<tr>
							<th>
								<h3 [ngClass]="{ 'center': innerWidth >= 575 ||( 960 < innerWidth && innerWidth <= 1082) }" class="tableTitle type">Crop Name</h3>
							</th>
							<th>
								<h3 class="tableTitle center">Total Scans</h3>
							</th>
							<th>
								<h3 class="tableTitle center">Good %</h3>
							</th>
							<th>
								<h3 class="tableTitle center">Average %</h3>
							</th>
							<th>
								<h3 class="tableTitle center">Bad %</h3>
							</th>
						</tr>
						<tr *ngFor="let crop of cropArray;index as i"
							[ngClass]="{ 'tableRowShadow': i%2==0}" class="">
							<td class="textAlignLeft morePadding">
								<div *ngIf="innerWidth < 575 ||( 960 < innerWidth && innerWidth <= 1395)" class="row">
									
									<div class="col-12 center">
										<h6>{{ crop.name }}</h6>
									</div>
								</div>
								<h6 *ngIf="innerWidth >= 575 && !( 960 < innerWidth && innerWidth <=1395)">{{
									crop.name
									}}</h6>
							</td>
							<td>
								<h6 class="center tableData"><strong>{{ crop.total_scans }}</strong></h6>
							</td>
							<td>
								<h6 class="center tableData"><strong>{{ crop.good_percentage }}%</strong></h6>
							</td>
							<td>
								<h6 class="center tableData"><strong>{{ crop.average_percentage }}%</strong></h6>
							</td>
							<td>
								<h6 class="center tableData"><strong>{{ crop.bad_percentage }}%</strong></h6>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>