<ng-container *ngIf="showlogin">
    <app-signUp></app-signUp>
</ng-container>
<ng-container class="grey" *ngIf="!samllerScreenUI && !showlogin">
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="options.value.fixed"
            [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content [formGroup]="options">
            <app-header></app-header>
            <div class="titleContianer">
                <!-- <app-component-header></app-component-header> -->
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
<ng-container class="grey" *ngIf="samllerScreenUI && !showlogin">
    <mat-sidenav-container (backdropClick)="close('backdrop')">
        <mat-sidenav class="sidenav" #sidenav (keydown.escape)="close('escape')" disableClose>
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content [formGroup]="options">
            <p><button class="btn" mat-button (click)="sidenav.open()">&#9776;</button></p>
            <app-header></app-header> 
            <div class="titleContianer">
                <app-component-header></app-component-header>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
