<div class="row">
    <div class="col-12">
        <div class="card listing-cards bg-light mb-3 fullWidth">
            <div class="card-body">
                <h2 class="cardTitle">Crop Data</h2>
                <div class="machineTable">
                    <table *ngIf='cropData'> 
                        <tr>
                            <th>
                                <h3 class="tableTitle">Crop Name</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let crop of cropArray;index as i" [ngClass]="{ 'tableRowShadow': i%2==0 }">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575" class="row">
                                   
                                    <div class="col-12 center">
                                        <h6><img src="../../../assets/images/crops-icon/{{(i+1)%5}}.png" alt="crop"> &nbsp; {{ crop.crop }}</h6>
                                    </div>
                                </div>
                                <h6 *ngIf="innerWidth >= 575"><img src="../../../assets/images/crops-icon/{{(i+1)%5}}.png" alt="crop"> &nbsp;{{
                                    crop.name
                                    }}</h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.total_scans }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.good_percentage }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.average_percentage }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.bad_percentage }}</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card listing-cards bg-light mb-3 fullWidth">
        <div class="card-body">
            <div class="row paddingLeft" style="margin-bottom: 20px;">
                <h3 [ngClass]="{ 'middle': innerWidth >= 741}" class="greyText">Showing For :</h3>
                <div [ngClass]="{ 'col-3': innerWidth >= 741, 'col-12 moreMargin': innerWidth < 741 }" class="col-3">
                    <select class="form-control" name="crop" id="crop" (change)='cropselected()'>
                       <option *ngFor='let item of cropArray' value="{{item.name}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-bottom:30px;">
                <div [ngClass]="{ 'extarMargin': innerWidth > 414 }" class="card listing-cards graphCard">
                    <div class="card-body graphCardBody" *ngIf='monthdata'>
                        <h2 class="cardTitle">Scans by month</h2>
                        <app-bar-chart [data]="selectedcropmonthdata" [labels]="scansByMonthLabels" size="400px"
                            barColor="rgb(112,212,224)">
                        </app-bar-chart>
                    </div>
                </div>
            </div>
            <div class="row">
                <div [ngClass]="{ 'extarMargin': innerWidth > 414 }" class="card listing-cards mb-3 graphCard">
                    <div *ngIf='state' [ngClass]="{'leftPadding': innerWidth > 1128}" class="card-body extraPadding mapCardBody">
                        <app-map [size]="sizeOfMap" [mark]="uniquedistricts" [top]="topPercent" [numbers]="uniquenumbers"></app-map> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div
                    [ngClass]="{ 'col-6 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926 ,'reducePadding': innerWidth < 1271 }">
                    <div [ngClass]="{ 'reduceRightMargin': innerWidth < 1271  }" class="card listing-cards bg-light mb-3 w-100">
                        <div *ngIf='selecetedmachine' class="card-body grey-bg lessPadding">
                            <h2 class="cardTitle">Machine-wise scans distribution</h2>
                           <!--  <app-double-bar-chart [machineData]="machineData1" [scanData]="scanData" [labels]="labels1" [legend]="legend1">
                            </app-double-bar-chart> -->
                             <app-horizontal-bar-chart [data]="selectedcropmachinedata" [labels]="labels1"></app-horizontal-bar-chart>
                        </div>
                    </div>
                </div>
                <div
                    [ngClass]="{ 'col-6 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926 ,'reducePadding': innerWidth < 1271}">
                    <div [ngClass]="{ 'reduceleftMargin': innerWidth < 1271 }" class="card listing-cards bg-light mb-3 w-100">
                        <div *ngIf='selecteduserdata' class="card-body grey-bg lessPadding">
                            <h2 class="cardTitle">User wise Scan distribution</h2>
                           <!--  <app-double-bar-chart [machineData]="userBarData" [scanData]="scanBarData" [labels]="labels2"
                                [legend]="legend2">
                            </app-double-bar-chart> -->
                            <app-horizontal-bar-chart [data]="selectedcropuserdata" [labels]="selectedcropuserlabel"></app-horizontal-bar-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div [ngClass]="{ 'col-8 d-flex': innerWidth >= 961, 'col-12': innerWidth < 961 ,'reducePadding': innerWidth < 1220 }" class="removeLeftPadding">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h2 class="cardTitle">Machine Data</h2>
                <div class="machineTable">
                    <table>
                        <tr>
                            <th>
                                <h3 [ngClass]="{ 'center': innerWidth >= 575 || ( 960 < innerWidth && innerWidth <=1082)}" class="tableTitle type">Machine type
                                </h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let machine of machinedata;index as i;"
                            [ngClass]="{ 'tableRowShadow': i==selectMachineIndex }" (click)="selectMachine(i)">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575 || ( 960 < innerWidth && innerWidth <= 1082)" class="row">
                                    <div class="col-12 center">
                                       
                                    </div>
                                    <div class="col-12 center">
                                        <h6><img src="../../../assets/images/machine-icon/Machine {{i+1}}.png" alt="Machine"> &nbsp;Machine {{i+1}}</h6> 
                                    </div>
                                </div>
                                <h6 *ngIf="innerWidth >= 575 && !( 960 < innerWidth && innerWidth <=1082)"><img src="../../../assets/images/machine-icon/Machine {{i+1}}.png" alt="Machine"> &nbsp;Machine {{i+1}}</h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.total_scans }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.good_percentage }}%</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.average_percentage }}%</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.bad_percentage }}%</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{ 'col-4': innerWidth >= 961, 'col-12': innerWidth < 961 ,'reducePadding': innerWidth < 1220 , 'd-flex': 961 < this.innerWidth && this.innerWidth < 1302 }" class="removeRightPadding">
        <div class="card listing-cards bg-light mb-3 fullWidth">
            <div *ngIf='showmachine' class="card-body">
               <h6> <img src="../../../assets/images/machine-icon/Machine {{selectMachineIndex+1}}.png" alt="Machine"> &nbsp;Machine {{selectMachineIndex+1}}</h6>
                <app-doughnut-chart [data]="machinechartdata" [labels]="doughnutChartLabels" postion="inside" smallerUI='true'>
                </app-doughnut-chart> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div [ngClass]="{ 'col-8 d-flex': innerWidth >= 961, 'col-12': innerWidth < 961 ,'reducePadding': innerWidth < 1220 }" class="removeLeftPadding">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h2 class="cardTitle">User's Data</h2>
                <div class="machineTable">
                    <table *ngIf='showusers'>
                        <tr>
                            <th>
                                <h3 [ngClass]="{ 'center': innerWidth >= 575 || ( 960 < innerWidth && innerWidth <=1082) }" class="tableTitle type">User type</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let user of myusers;index as i"
                            [ngClass]="{ 'tableRowShadow': i==selectUserIndex }" (click)="selectUser(i)">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575 || ( 960 < innerWidth && innerWidth <= 1082)" class="row">
                                    
                                    <div class="col-12 center">
                                        <h6>{{ user.user }}</h6>
                                    </div>
                                </div>
                                <h6 *ngIf="innerWidth >= 575 && !( 960 < innerWidth && innerWidth <=1082)">{{
                                    user.user
                                    }}</h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.total }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.good_percentage }}%</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.average_percentage }}%</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.bad_percentage }}%</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{ 'col-4': innerWidth >= 961, 'col-12': innerWidth < 961 , 'reducePadding': innerWidth < 1220, 'd-flex': 961 < this.innerWidth && this.innerWidth < 1302 }" class="removeRightPadding">
        <div *ngIf='graphshow' class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h6>
                    {{ 
                        myusers[selectUserIndex].user
                    }}
                </h6>
                <app-doughnut-chart [data]="userchartdata" [labels]="doughnutChartLabels" postion="inside" smallerUI='true'>
                </app-doughnut-chart>
            </div>
        </div>
    </div>
</div>
