<div class="row">
    <div class="col-12">
        <div class="card listing-cards bg-light mb-3 fullWidth">
            <div class="card-body">
                <h2 class="cardTitle">Crop Data</h2>
                <div class="machineTable">
                    <table>
                        <tr>
                            <th>
                                <h3 class="tableTitle">Crop Name</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let crop of cropData, let i=index;" [ngClass]="{ 'tableRowShadow': i%2==0 }">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575" class="row">
                                    <div class="col-12 center">
                                        <img src="../../../assets/images/crops-icon/{{ crop.crop }}.png"
                                            class="cropIcon">
                                    </div>
                                    <div class="col-12 center">
                                        <h6>{{ crop.crop }}</h6>
                                    </div>
                                </div>
                                <h6 *ngIf="innerWidth >= 575"> <img
                                        src="../../../assets/images/crops-icon/{{ crop.crop }}.png" class="cropIcon">{{
                                    crop.crop
                                    }}</h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.scans }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.good }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.average }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ crop.bad }}</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card listing-cards bg-light mb-3 fullWidth">
        <div class="card-body">
            <div class="row paddingLeft">
                <h3 [ngClass]="{ 'middle': innerWidth >= 741}" class="greyText">Showing For :</h3>
                <div [ngClass]="{ 'col-3': innerWidth >= 741, 'col-12 moreMargin': innerWidth < 741 }" class="col-3">
                    <select class="form-control" name="crop" id="crop">
                        <option value="all">Select Crop</option>
                        <option *ngFor="let crop of crops" value="{{crop}}">{{crop}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div [ngClass]="{ 'extarMargin': innerWidth > 414 }" class="card listing-cards graphCard">
                    <div class="card-body graphCardBody">
                        <h2 class="cardTitle">Scans by month</h2>
                        <app-bar-chart [data]="scansByMonthData" [labels]="scansByMonthLabels" size="400px"
                            barColor="rgb(112,212,224)">
                        </app-bar-chart>
                    </div>
                </div>
            </div>
            <div class="row">
                <div [ngClass]="{ 'extarMargin': innerWidth > 414 }" class="card listing-cards mb-3 graphCard">
                    <div [ngClass]="{'leftPadding': innerWidth > 1128}" class="card-body extraPadding mapCardBody">
                        <app-map [size]="sizeOfMap" [top]="topPercent"></app-map>
                    </div>
                </div>
            </div>
            <div class="row">
                <div
                    [ngClass]="{ 'col-6 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926 ,'reducePadding': innerWidth < 1271 }">
                    <div [ngClass]="{ 'reduceRightMargin': innerWidth < 1271  }" class="card listing-cards bg-light mb-3 w-100">
                        <div class="card-body grey-bg lessPadding">
                            <h2 class="cardTitle">Machine-wise scans distribution</h2>
                            <app-double-bar-chart [machineData]="machineData1" [scanData]="scanData" [labels]="labels1"
                                [legend]="legend1">
                            </app-double-bar-chart>
                        </div>
                    </div>
                </div>
                <div
                    [ngClass]="{ 'col-6 d-flex': innerWidth >= 926, 'col-12': innerWidth < 926 ,'reducePadding': innerWidth < 1271}">
                    <div [ngClass]="{ 'reduceleftMargin': innerWidth < 1271 }" class="card listing-cards bg-light mb-3 w-100">
                        <div class="card-body grey-bg lessPadding">
                            <h2 class="cardTitle">User wise distribution</h2>
                            <app-double-bar-chart [machineData]="userData" [scanData]="scanData1" [labels]="labels2"
                                [legend]="legend2">
                            </app-double-bar-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div [ngClass]="{ 'col-8 d-flex': innerWidth >= 961, 'col-12': innerWidth < 961 ,'reducePadding': innerWidth < 1220 }" class="removeLeftPadding">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h2 class="cardTitle">Machine Data</h2>
                <div class="machineTable">
                    <table>
                        <tr>
                            <th>
                                <h3 [ngClass]="{ 'center': innerWidth >= 575 || ( 960 < innerWidth && innerWidth <=1082)}" class="tableTitle type">Machine type
                                </h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let machine of machineData, let i=index;"
                            [ngClass]="{ 'tableRowShadow': i==selectMachineIndex }" (click)="selectMachine(i)">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575 || ( 960 < innerWidth && innerWidth <= 1082)" class="row">
                                    <div class="col-12 center">
                                        <img src="../../../assets/images/machine-icon/{{ machine.machine }}.png"
                                            class="cropIcon">
                                    </div>
                                    <div class="col-12 center">
                                        <h6>{{ machine.machine }}</h6>
                                    </div>
                                </div>
                                <h6 *ngIf="innerWidth >= 575 && !( 960 < innerWidth && innerWidth <=1082)"> <img
                                        src="../../../assets/images/machine-icon/{{ machine.machine }}.png"
                                        class="cropIcon">{{
                                    machine.machine
                                    }}</h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.scans }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.good }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.average }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ machine.bad }}</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{ 'col-4': innerWidth >= 961, 'col-12': innerWidth < 961 ,'reducePadding': innerWidth < 1220 , 'd-flex': 961 < this.innerWidth && this.innerWidth < 1302 }" class="removeRightPadding">
        <div class="card listing-cards bg-light mb-3 fullWidth">
            <div class="card-body">
                <h6><img src="../../../assets/images/machine-icon/{{ machineData[selectMachineIndex].machine }}.png"
                        class="cropIcon">{{
                    machineData[selectMachineIndex].machine }}</h6>
                <app-doughnut-chart [data]="doughnutChartData" [labels]="doughnutChartLabels" postion="inside">
                </app-doughnut-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div [ngClass]="{ 'col-8 d-flex': innerWidth >= 961, 'col-12': innerWidth < 961 ,'reducePadding': innerWidth < 1220 }" class="removeLeftPadding">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h2 class="cardTitle">User's Data</h2>
                <div class="machineTable">
                    <table>
                        <tr>
                            <th>
                                <h3 [ngClass]="{ 'center': innerWidth >= 575 || ( 960 < innerWidth && innerWidth <=1082) }" class="tableTitle type">User type</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Total Scans</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Good %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Average %</h3>
                            </th>
                            <th>
                                <h3 class="tableTitle center">Bad %</h3>
                            </th>
                        </tr>
                        <tr *ngFor="let user of userTableData, let i=index;"
                            [ngClass]="{ 'tableRowShadow': i==selectUserIndex }" (click)="selectUser(i)">
                            <td class="textAlignLeft morePadding">
                                <div *ngIf="innerWidth < 575 || ( 960 < innerWidth && innerWidth <= 1082)" class="row">
                                    <div class="col-12 center">
                                        <img src="../../../assets/images/crops-icon/{{ user.crop }}.png"
                                            class="cropIcon">
                                    </div>
                                    <div class="col-12 center">
                                        <h6>{{ user.crop }}</h6>
                                    </div>
                                </div>
                                <h6 *ngIf="innerWidth >= 575 && !( 960 < innerWidth && innerWidth <=1082)"> <img
                                        src="../../../assets/images/crops-icon/{{ user.crop }}.png" class="cropIcon">{{
                                    user.crop
                                    }}</h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.scans }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.good }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.average }}</strong></h6>
                            </td>
                            <td>
                                <h6 class="center"><strong>{{ user.bad }}</strong></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{ 'col-4': innerWidth >= 961, 'col-12': innerWidth < 961 , 'reducePadding': innerWidth < 1220, 'd-flex': 961 < this.innerWidth && this.innerWidth < 1302 }" class="removeRightPadding">
        <div class="card listing-cards bg-light mb-3 graphCard">
            <div class="card-body">
                <h6>
                    <img src="../../../assets/images/crops-icon" class="cropIcon">{{ userTableData[selectUserIndex].crop
                    }}
                </h6>
                <app-doughnut-chart [data]="doughnutChartData" [labels]="doughnutChartLabels" postion="inside">
                </app-doughnut-chart>
            </div>
        </div>
    </div>
</div>