<div class="buttons big">
    <button class="btn btn-outline-info" *ngFor='let item of usernames' (click)='redir(item)' style="margin-right: 20px;">{{item}}</button> 

</div>
<div class="buttons small">
    <div class="parent1">
        <button class="btn btn-outline-info" (click)='redir(usernames[0])'>
            {{usernames[0]}}
        </button>
        <button class="btn btn-outline-info" (click)='redir(usernames[1])'>
            {{usernames[1]}}
        </button>
    </div>
    <div class="parent3">
     <button class="btn btn-outline-info" (click)='redir(usernames[2])'>
            {{usernames[2]}}
        </button>
         
    </div>
    <div class="parent2">
        <button class="btn btn-outline-info" (click)='redir(usernames[3])'>
            {{usernames[3]}}
        </button>
 <button class="btn btn-outline-info" (click)='redir(usernames[4])'>
            {{usernames[4]}} 
        </button>
    </div>

</div>