
<!-- <button (click)='addData()'>Create Field</button>
<button (click)='addscan()'>add scan</button> -->
<div class="row"  style="overflow-x:auto;">

      <div class="col-4">
        <select name="sort" id="mysort" (change)='sortscan()'>
            <option value="sort">Sort By...</option>
            <option value="normal">Normal</option>
            <option value="time">Time</option>
            <option value="name">Name</option>
        </select>
       <button class="btn btn-outline-info" style='margin:15px 0px' (click)="download()"> Download </button>
    </div> 


    <div class="col-4 ml-auto removeRightPadding">
        <div class="card listing-cards bg-light w-100 header noMargin removeBottomBorderRadius">
            <div class="card-body removePadding" style="height: 101px;">
                <span>
                    <h3 class="left" id='ftsz'>Total No of Technicians  {{numoffarmers}}</h3> 
                </span>
            </div>
        </div>
    </div>
    <div class="card listing-cards bg-light mb-3 w-100 noMargin" >
        <div class="card-header" style="width:100%">
            <div class="row">
                <div class="col-5 paddingTop inherit">
                    <h3 class="left"><input type="checkbox" id="select_all"> Select All</h3>
                    <h3 class="left"><input type="checkbox"> Message All</h3>
                    <h3 class="left"><input type="radio" (change)='expand($event)' name="show" id="Expand"> <label for="Expand">Expand All</label></h3>
                    <h3 class="left"><input (change)='collapse($event)' type="radio" name="show" id="Collapse"> <label for="Collapse">Collapse All</label></h3>

                </div>
                <div class="col-4">
                
                   <!--  <button class="btn grey"> Hide</button>
                    <button class="btn marginLeft grey"> Unhide</button>
                    <button (click)='changevisibility()' class="btn marginLeft grey">Scan Results</button> -->
                </div>
                <div class="col-3" id='searchbar'>
                    <div class="row">

                        <div class="col-4 textCenter noPadding">
                            <h3>Search:</h3>
                        </div>
                        <div class="col-8 noPadding">
                            <input type="text" class="form-control" placeholder="Type here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body removePadding removeTopBorderRadius" style="overflow: auto;">
           <table *ngIf='farmerdatatemp && !showsorted' class="table table-hover" style="text-align: left;">
    <thead>
            <th>Farmer's Name</th>
            <th>Phone No.</th>
            <th>Message</th>
            <th>Scan History</th>
             <th>Machine</th>
            <th>Crop</th>
          <th>Time</th>
           <th>Location</th>
        <th style="text-align:center;">See Results</th>
        <th>Raw Image</th>
        <th>Annotated Image</th>
        <th>Total Kernel</th>
        <th>Broken Kernel</th>
        <th>Insect Kernel</th>
        <th>Mold Kernel</th>
        <th>No Defect Kernel</th>
        <th>Non Yellow Kernel</th>
        <th>Foreign Kernel</th>
            
            
    </thead>
 
    <tbody *ngFor='let item of farmerdata;index as i'>
    
            <tr> 
            <td><input type="checkbox" name="" id="{{item.name}}"><label for="{{item.name}}">&nbsp; {{item.name}}</label></td>
            <td>{{item.ph_no}}</td>
            <td><a routerLink='' style="text-decoration: none;color: black"><i class="fas fa-envelope"></i></a></td>
            <td *ngIf='!show[i]'><a (click)='toogleshow(i)' style="text-decoration: none;color: brown;font-weight: bolder;cursor: pointer;">See History</a>
            </td>
            <td *ngIf='show[i]'><a  (click)='toogleshow(i)' style="text-decoration: none;color: brown;font-weight: bolder;cursor: pointer;">Close History</a>
            </td>
          

            <td *ngIf='show[i]'>
                 
                      <table>

 
                          <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue'>
                             <td>{{key.value.machine}}
                               
                             </td>
                             
                             </tr>
                          </tbody>
                      </table>
               
            </td>

            


            <td *ngIf='show[i]'>
                 
                      <table>


                          <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue'>
                           
                             <td>{{key.value.crop}}</td>
                            
                             </tr>
                          </tbody>
                      </table>
               
            </td>

                        <td *ngIf='show[i]'>
                 
                      <table>


                          <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue'>
                           
                             
                             <td>{{key.value.time | date:'d/M/y'}}</td>
                           
                             </tr>
                          </tbody>
                      </table>
               
            </td>



                        <td *ngIf='show[i]'>
                 
                      <table>


                          <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue'>
                           
                           
                             <td>{{key.value.location_name}}</td>
                           
                             </tr>
                          </tbody>
                      </table>
               
            </td>


                        <td *ngIf='show[i]'>
                 
                      <table>


                          <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                           
                             
                             <td *ngIf='!scanshow[i+z]'><a *ngIf='i==0' (click)='getdetails(i+z)' style="text-decoration: none;color: brown;font-weight: bolder;cursor: pointer;">See Details</a></td>
                              <td *ngIf='scanshow[i+z]'><a *ngIf='i==0' (click)='getdetails(i+z)' style="text-decoration: none;color: brown;font-weight: bolder;cursor: pointer;">Hide Details</a></td>
                              <td *ngIf='!scanshow[z+scanlength[i-1]]'><a *ngIf='i>0' (click)='getdetails(z+scanlength[i-1])' style="text-decoration: none;color: brown;font-weight: bolder;cursor: pointer;">See Details</a></td>
                              <td *ngIf='scanshow[z+scanlength[i-1]]'><a *ngIf='i>0' (click)='getdetails(z+scanlength[i-1])' style="text-decoration: none;color: brown;font-weight: bolder;cursor: pointer;">Hide Details</a></td>
                              
                             </tr>
                          </tbody>
                      </table>
               
            </td>
             <td *ngIf='show[i]'>   
                <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'><a href="{{this.scandetails[i+z].images[1]}}" target="_blank" style="text-decoration:none;color: black;"><i class="fas fa-images"></i> Image</a></td>
                                <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                         <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'><a href="{{this.scandetails[i+z].images[1]}}" target="_blank" style="text-decoration:none;color: black;"><i class="fas fa-images"></i> Image</a></td>
                                <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>

                </td>
                     <td *ngIf='show[i]'>  
                      <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'><a href="{{this.scandetails[i+z].images[1]}}" target="_blank" style="text-decoration:none;color: black;"><i class="fas fa-images"></i> Image</a></td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>

                       <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'><a href="{{this.scandetails[i+z].images[1]}}" target="_blank" style="text-decoration:none;color: black;"><i class="fas fa-images"></i> Image</a></td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf='show[i]'>
                    <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'>{{this.scandetails[i+z].numbers[0]}}</td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>

                     <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'>{{this.scandetails[z+scanlength[i-1]].numbers[0]}}</td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf='show[i]'> 
                  <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'>{{this.scandetails[i+z].numbers[1]}}</td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'>{{this.scandetails[z+scanlength[i-1]].numbers[1]}}</td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>

                </td>
               
                <td *ngIf='show[i]'>  
                 <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'>{{this.scandetails[i+z].numbers[2]}}</td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                     <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'>{{this.scandetails[z+scanlength[i-1]].numbers[2]}}</td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf='show[i]'>  
                 <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'>{{this.scandetails[i+z].numbers[3]}}</td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>

                      <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'>{{this.scandetails[z+scanlength[i-1]].numbers[3]}}</td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf='show[i]'> 
                  <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'>{{this.scandetails[i+z].numbers[4]}}</td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'>{{this.scandetails[z+scanlength[i-1]].numbers[4]}}</td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td *ngIf='show[i]'> 
                  <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'>{{this.scandetails[i+z].numbers[5]}}</td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'>{{this.scandetails[z+scanlength[i-1]].numbers[5]}}</td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
               
                <td *ngIf='show[i]'>  
                 <table *ngIf='i==0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[i+z]'>{{this.scandetails[i+z].numbers[6]}}</td>
                                  <td *ngIf='!scanshow[i+z]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>

                    <table *ngIf='i>0'>
                        <tbody>
                            <tr *ngFor='let key of farmerscandata[i] | keyvalue;index as z'>
                                <td *ngIf='scanshow[z+scanlength[i-1]]'>{{this.scandetails[z+scanlength[i-1]].numbers[6]}}</td>
                                  <td *ngIf='!scanshow[z+scanlength[i-1]]' style="transform: rotate(90deg);">&#124;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
               

            </tr>
      
       
  
    </tbody>


</table>

    <table *ngIf='showsorted' class="table table-hover">
           <thead>
            <th>Farmer's Name</th>
            <th>Phone No.</th>
            <th>Message</th>
         
            <th>Machine</th>
            <th>Crop</th>
            <th>Time</th>
            <th>Location</th>
            <th>Raw Image</th>
            <th>Annotated Image</th>
            <th>Total Kernel</th>
            <th>Broken Kernel</th>
            <th>Insect Kernel</th>
            <th>Mold Kernel</th>
            <th>No Defect Kernel</th>
            <th>Non Yellow Kernel</th>
            <th>Foreign Kernel</th>
           </thead>
           <tbody>
               <tr *ngFor='let item of sortingdupli;index as i'>
               <td>{{item.name}}</td>
               <td>{{item.ph_no}}</td>
               <td><a href="" style="text-decoration: none;color: black"><i class="fas fa-envelope"></i></a></td>
               <td>{{item.machine}}</td>
               <td>{{item.crop}}</td>
               <td>{{item.time}}</td>
               <td>{{item.location._lat}}<br>{{item.location._long}}</td>
               <td><a href="{{item.images[0]}}" target="_blank" style="text-decoration:none;color: black;"><i class="fas fa-images"></i> Image</a></td>
               <td><a href="{{item.images[1]}}" target="_blank" style="text-decoration:none;color: black;"><i class="fas fa-images"></i> Image</a></td>
               <td>{{item.numbers[0]}}</td>
               <td>{{item.numbers[1]}}</td>
               <td>{{item.numbers[2]}}</td>
               <td>{{item.numbers[3]}}</td>
               <td>{{item.numbers[4]}}</td>
               <td>{{item.numbers[5]}}</td>
               <td>{{item.numbers[6]}}</td>
           </tr>
           </tbody>
    </table>    
        </div>
    </div>
</div>





