<div class="row">
    <div [ngClass]="{ 'col-6': !samllerScreenUI , 'col-12': samllerScreenUI  }" class="addMargin">
        <span class="left">
            <h1><strong>Welcome {{ username }}!</strong></h1>
            <span class="greyText smallText">Here's what happening at UPJAO today</span>
        </span>
    </div>
    <div [ngClass]="{ 'col-6': !samllerScreenUI , 'col-12': samllerScreenUI  }" class="addMargin">
        <span class="right">
            <div class="row">
                <div class="col">
                    <input type="text" placeholder="Start Date" class="form-control" bsDatepicker
                        [bsConfig]="{ adaptivePosition: true }">
                </div>
                <div class="col">
                    <input type="text" placeholder="End Date" class="form-control" bsDatepicker
                        [bsConfig]="{ adaptivePosition: true }">
                </div>
            </div>
        </span>
    </div>
</div>